@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

// Custom scroll bar start
::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: rgba(9, 141, 196, 1);
    // border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(8, 118, 164, 1);
}

// Custom scroll bar end
a,
i,
svg {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: none;
}

ul,
p {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

.btn-blue {
    background-color: #098DC4;
    color: #fff;
    padding: 12px 30px;
    border-radius: 8px;

    &:hover {
        background-color: #0876A4;
        color: #fff;
    }
}

.more-btn {
    color: #098DC4;
    font-weight: 500;
    text-decoration: underline;
}

.up-icon {
    opacity: 0;
    width: 50px;
    height: 50px;
    background-color: #0A9DDA;
    z-index: 2;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    transition: .5s;
    pointer-events: none;

    &:hover {
        background-color: #0876A4;
    }

    &.show {
        opacity: 1;
        pointer-events: all;
    }
}

.modal-close {
    background: none;
    opacity: 1;
    width: auto;
    height: auto;
    right: 10px;
}

.swiper {
    height: 100%;
}

.swiper,
.swiper-wrapper,
.swiper-slide {
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-img {
    background-image: url(../images/background/atom.png);
    background-size: 40% 50%;
    background-repeat: no-repeat;
    background-position: top right;
}

.py-110 {
    padding-top: 110px;
    padding-bottom: 110px;
}

.bannerSwiper {
    .swiper-pagination {
        .swiper-pagination-bullet {
            position: relative;
            width: 80px;
            height: 2.5px;
            border-radius: 8px;
            background-color: #fafafa;

            .progress-bar-bg {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 2.5px;
                background-color: #fafafa;
            }

            .progress-bar-cover {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 2;
                width: 100%;
                height: 2.5px;
                background-color: #000;
            }

            &.swiper-pagination-bullet-active {
                background-color: transparent;

                b {
                    animation-name: countingBar;
                    animation-duration: 5s;
                    animation-timing-function: ease-in;
                    animation-iteration-count: 1;
                    animation-direction: alternate;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
}

@keyframes countingBar {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    top: 0;
    left: 0;
}

.bg-nav {
    background-color: rgba(0, 0, 0, .5);
}

svg {
    pointer-events: none;
}

.search-form {
    .search-input {
        padding: 8px 15px;
        border: 1px solid #D9D9D9;
        color: #fff;

        &::placeholder {
            color: #fff;
        }

        &:focus {
            box-shadow: none;
            border: 1px solid #D9D9D9;
        }
    }
}

.nav-menu {
    position: fixed;
    width: 100%;
    color: #fff;
    font-weight: 500;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    transition: .3s;

    .mobile-menu {
        display: none;

        .open-nav,
        .close-nav {
            display: none;
            color: #fff;
        }
    }

    &:hover {
        background-color: rgba(0, 0, 0, .7);
    }

    .container {
        max-width: 90%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        height: 100%;
        position: relative;
        padding: 10px 0;
        // display: grid;
        // grid-template-columns: 360px calc(100% - 560px) 200px;
        padding: 10px 0;

        &>* {
            flex-basis: 0;
        }

        .left-section {
            flex-grow: 1;
            justify-content: space-around;

            .logo {
                width: 50px;
                max-height: 90px;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .phone {
                width: max-content;
            }
        }

        nav {
            flex-grow: 2;
            display: grid;
            place-items: center;
            transition: .5s;

            .navigation {
                gap: 35px;

                li {
                    a {
                        position: relative;
                        padding: 4px 0;

                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            display: inline-block;
                            width: 0;
                            transition: .2s ease-in;
                            height: 1px;
                            background: #ffffffde;
                        }

                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .right-section {
            flex-grow: 1;
            gap: 20px;
            position: relative;
            z-index: 1;

            .search {
                display: flex;
                width: 24px;
                border-bottom: 1px solid transparent;
                padding-bottom: 3px;
                transition: .4s ease-in-out;
                min-width: 0;
                flex-shrink: 0;

                &.active {
                    width: 80%;
                    border-bottom: 1px solid #fff;
                }

                .icon {
                    cursor: pointer;
                    width: 24px;
                    height: 24px;
                    flex-shrink: 0;
                    margin-bottom: 3px;
                    margin-right: 5px;
                    padding: 0;
                }

                .desk-input {
                    visibility: hidden;
                    opacity: 0;
                    width: 0;

                    &.active {
                        visibility: visible;
                        opacity: 1;
                        width: 100%;
                    }

                    input {
                        border: none;
                    }
                }
            }

            .language {
                position: relative;

                .current {
                    cursor: pointer;
                }

                .icon {
                    transform: rotate(-180deg);
                    transition: .3s;

                    &.active {
                        transform: rotate(0);
                    }
                }

                .languages {
                    display: none;
                    position: absolute;
                    left: -8px;
                    background: #00000073;
                    min-width: 70px;
                    padding: 4px 0;
                    border-radius: 2px;
                    transition: .2s ease-in-out;

                    &.active {
                        display: block;
                    }

                    .lang {
                        position: relative;
                        padding: 0 8px;
                        gap: 12px;
                        color: #ffffffde;
                        font-size: 18px;
                        transition: .1s;

                        &.active::after {
                            content: "";
                            display: inline-block;
                            border-radius: 2px;
                            width: 8px;
                            height: 8px;
                            background: #ffffffde;
                        }
                    }
                }
            }
        }

        input.search-input,
        .desk-input input {
            background-color: transparent;
            color: #fff;
            border: none;
            border-bottom: 1px solid #fff;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: #fff;
            }
        }

    }

    &.section-nav {
        position: fixed;
        background-color: transparent;

        .container {
            nav {
                .navigation {
                    li {
                        a::after {
                            background-color: #000;

                        }
                    }
                }
            }

            a {
                color: #000 !important;
            }

            path {
                stroke: #000;
            }

            .right-section {
                .search {
                    &.active {
                        border-bottom: 1px solid #000;

                        .desk-input {

                            input {
                                color: #000;

                                &::placeholder {
                                    color: #000;
                                }
                            }
                        }
                    }
                }

                .language {
                    .current {
                        color: #000;
                    }

                    .languages {
                        .lang {
                            color: #fff !important;
                        }
                    }
                }
            }

        }
    }
}

.contact-links {
    right: 20px;
    top: 50%;
    transition: .3s;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        font-size: 16px;
        border: 1px solid #fff;
        border-radius: 8px;
        margin-bottom: 10px;
        transition: .3s;

        &:hover {
            background-color: #0A9DDA;
            border-color: transparent;
        }
    }

    &.active,
    &.section-links {
        li {
            border-color: #000;

            path {
                stroke: #000;
            }

            &:hover {
                border-color: #fff;
                background-color: #0A9DDA;

                path {
                    stroke: #fff;
                }
            }
        }
    }
}

.banner-section {
    height: 100vh;

    .banner-item {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .inner-text {
            font-size: 20px;
            padding-right: 3.8rem;
        }
    }
}

// Category start
.home-category-section {
    padding-top: 180px;
    background-position: 100% 0px;
    background-image: url(../images/background/category-pattern.png);
    background-size: 600px 650px;
}

.category-item {
    position: relative;
    height: 450px;
    background-color: #F2F4F4;
    padding: 50px 15px;
    border-radius: 10px;
    transition: .5s;

    .category-img {
        max-width: 340px;
        height: 250px;

        img {
            max-width: 100%;
            max-height: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .category-info {
        transition: .3s;
    }

    .link-icon {
        position: absolute;
        bottom: 0;
        left: 35%;
        opacity: 0;
        transition: .3s;
    }

    &:hover {
        background-color: #DCE3E7;

        .category-info {
            opacity: 0;
        }

        .link-icon {
            opacity: 1;
            transform: translateY(-35%);
        }
    }

}

// About section start
.about-section {
    overflow-x: hidden;
    background-position: center left;
    background-size: 600px 650px;

    &.bg-img {
        background-image: url(../images/background/Pattern.png);
    }
}

// Services section start

.services-item {
    width: 100%;
    height: 484px;
    background-size: cover;
    background-repeat: no-repeat;

    .inner-text {
        font-size: 20px;
    }
}

.servicesSwiper {
    .swiper-slide {
        display: block;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 45px;
        height: 45px;
        border: 1px solid #fff;
        border-radius: 50%;

        &.swiper-button-next {
            right: 40px;
        }

        &.swiper-button-prev {
            left: 40px;
        }

        &::after {
            font-size: 25px;
            color: #fff;
        }

        &.swiper-button-disabled {
            opacity: 0;
        }
    }
}

.partners-section {
    padding-bottom: 0;
}

.partnersSwiper {
    background-color: #F2F4F4;
    height: 209px;

    .swiper-slide {

        a {
            display: block;

        }

        .partner-item {
            width: 100%;
            max-height: 100%;

            img {
                width: 296px;
                height: 95px;
                object-fit: contain;
                transition: linear .3s;
            }

            &:hover {
                transform: scale(1.13);
            }
        }
    }
}

.video-gallery-section {
    padding-top: 180px;

    &.bg-img {
        background-size: 600px 650px;
    }

    .gallery-item {

        video {
            width: 100%;
        }

        .btn-play {
            display: none;
            position: absolute;
            font-size: 35px;
            color: #fff;
            left: 45%;
            top: 45%;
            transform: translate(-35%, -36%);
            z-index: 1;

            svg {
                transform: scale(2);
            }
        }
    }
}

.contact-section {

    .bg-gray {
        background-color: #F2F4F4;
        padding: 80px 0;
    }

    .section-title {
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(229, 229, 229, 1);
    }
}

.form-group {
    label {
        font-size: 14px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.38);
    }
}

textarea.custom-form {
    padding: 0;
}

.custom-form {
    color: rgba(0, 0, 0, 0.6);
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(176, 176, 176, 1);
    padding-left: 0;
    resize: none;

    &:focus {
        color: rgba(0, 0, 0, 0.6);
        background-color: transparent;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #B0B0B0;
        box-shadow: none;
    }
}


footer {
    background-color: #000;

    .footer-logo {
        max-width: 60px;
    }

    .opacity {
        color: rgba(255, 255, 255, 0.6);
    }

    .form-group {
        label {
            top: 5px;
            left: 5px;
            color: #fff;
        }

        .custom-form {
            padding-left: 2.3rem;
            color: #fff;

            &::placeholder {
                color: #fff;
                opacity: .6;
            }
        }

        .btn-subscribe {
            color: #fff;
            top: 7px;
            right: -2px;
            padding-block: 0;
        }
    }

    .bottom-footer {
        border-top: 1px solid #B0B0B0;

        .copyright {
            opacity: .6;
        }

        .social-links {
            li {
                transition: .3s;
                font-size: 19px;

                &:not(:last-child) {
                    margin-right: 10px;
                }

                &:hover {
                    color: #0A9DDA;
                }
            }
        }
    }
}

.breadcrumb-section {
    padding: 200px 0 50px 0;
}

.section-head {
    &.underline {
        border-bottom: 1px solid #D9D9D9;
    }
}

main {
    &.bg-catalog {
        background-image: url(../images/background/atom-pattern.png), url(../images/background/atom-pattern.png);
        background-size: 450px 640px, 450px 640px;
        background-repeat: no-repeat;
        background-position: 100% 115px, bottom right;
    }

    &.bg-detail {
        background-size: 450px 640px, 450px 640px;
        background-position: 100% -7px, bottom right;
    }
}

.catalog-section {


    .category-block {
        &:not(:first-child) {
            margin-top: 130px;
        }
    }

    .section-head {
        width: 50%;
    }
}

.thumbSwiper.swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .swiper-slide {
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}


.detailSwiper {
    height: 80%;
    width: 100%;

    .swiper-button-prev,
    .swiper-button-next {
        &::after {
            font-size: 30px;
            color: #000;
            color: rgba(40, 48, 63, 1);
        }
    }

    .detail-img {
        width: 100%;
        height: 725px;
        display: flex;
        align-items: center;
        background-color: #F2F4F4;
        margin-bottom: 1rem;
        padding: 40px;
        border-radius: 16px;
    }

    img {
        width: 60%;
        display: block;
        margin: 0 auto;
    }

}

.detail-section {
    .section-head {
        width: 49%;
    }
}

.detailThumb {
    height: 120px;

    .swiper-slide {
        width: 120px !important;
        height: 100%;
        border: 1px solid #C1DBEA;
        border-radius: 16px;
        cursor: pointer;

        &.swiper-slide-thumb-active {
            background-color: #F2F4F4;
            border: 1px solid transparent;
        }

        .thumb-img {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 20px;
            border-radius: 16px;

            img {
                max-width: 100%;
                height: 100%;
            }
        }
    }
}

.detail-list {
    li {
        list-style-type: disc;
    }
}

.similiar-product-section {
    margin: 130px 0 48px 0;

    .container {
        position: relative;

        .section-head {
            margin-bottom: 16px;
        }

        .similiarSwiper {
            position: static;

            .swiper-button-prev,
            .swiper-button-next {
                width: 35px;
                height: 35px;
                background-color: #fff;
                border-radius: 50%;
                box-shadow: 0px 0px 3px 0px #0000001A;
                top: 60%;

                svg {
                    width: 20px;
                    height: 20px;
                }

                &::after {
                    content: "";
                }

                &.swiper-button-next {
                    right: -5px;
                }

                &.swiper-button-prev {
                    transform: rotate(180deg);
                    left: -5px;
                }

                &.swiper-button-disabled {
                    opacity: 0;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .nav-menu {
        .container {
            max-width: 100%;
            width: 100%;
            // grid-template-columns: 360px calc(100% - 560px) 200px;
            padding: 10px 16px;

            .left-content {
                gap: 10px;
            }

            nav {
                .navigation {
                    gap: 20px;
                }
            }

            a {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 992px) {
    .breadcrumb-section {
        background-size: calc(50% - 50px) 100%;
    }

    .bg-section {
        background-size: 50% 12%;
    }

    .home-category-section.bg-img {
        background-size: 600px 650px;
    }

    .video-gallery-section.bg-img {
        background-size: 60% 40%;
    }

    .about-section.bg-img {
        background-position: top left;
        background-size: 390px 530px;
    }

    .contact-links {
        top: 280px;

        &.section-links {
            top: 260px;
        }
    }

    .nav-menu {

        .mobile-menu {
            display: flex;

            .open-nav {
                display: block;
                color: #fff;
            }
        }

        .container {
            max-width: 90%;
            // grid-template-columns: repeat(2, 1fr);

            .left-section {
                justify-content: flex-start;

                .phone {
                    display: none;
                }
            }

            .right-section {
                .search {
                    display: none;
                }
            }

            nav {
                position: absolute;
                width: 0;
                height: 450px;
                place-items: start center;
                background-color: rgba(0, 0, 0, .9);
                gap: 30px;
                opacity: 0;
                visibility: hidden;
                user-select: none;
                top: 110px;
                right: 0;
                padding: 40px 0;
                overflow: hidden;

                &.active {
                    width: 300px;
                    opacity: 1;
                    visibility: visible;
                    user-select: auto;
                }

                .navigation {
                    flex-direction: column;
                    gap: 40px;
                }
            }
        }

        &.section-nav {
            .container {
                .navigation {
                    li {
                        a {
                            color: #fff !important;
                        }
                    }
                }
            }
        }
    }

    .banner-section {
        min-height: 500px;
    }

    .servicesSwiper {

        .swiper-button-prev,
        .swiper-button-next {
            top: 53%;

            &.swiper-button-prev {
                left: 0;
            }

            &.swiper-button-next {
                right: 0;
            }
        }
    }

    .inner-text {
        font-size: 16px !important;
    }

    .catalog-section,
    .detail-section {
        .section-head {
            width: 100%;
        }
    }

    .detailSwiper {
        .detail-img {
            height: 320px;
        }

        img {
            width: auto;
        }
    }

    footer {
        .contact-list {
            li {
                display: block !important;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .banner-section {
        .container {
            width: 90%;
        }

        .banner-item {
            .banner-title {
                margin-top: 50px;
                font-size: 25px;
            }

            .inner-text {
                padding-right: 0;
            }
        }
    }

    .bg-img,
    main,
    .about-section.bg-img,
    .catalog-section.bg-section {
        background-image: none;
    }

    .contact-links {
        top: 280px;
    }

    .servicesSwiper {
        .container {
            max-width: 85%;
        }

        .swiper-button-prev,
        .swiper-button-next {
            width: 30px;
            height: 30px;

            &::after {
                font-size: 20px;
            }
        }

        .banner-title {
            font-size: 25px !important;
        }
    }
}

// @media (max-width: 1185px) {
//     .nav-menu {
//         .container {
// grid-template-columns: 270px calc(100% - 430px) 160px;
//         }
//     }
// }

@media only screen and (min-width: 993px) and (max-width: 1066px) {
    .nav-menu {
        .container {
            a {
                font-size: 12px;
            }
        }
    }
}